# Python Einführung
## Kurzeinführung Markdown

**Fettschrift** und _kursiv_.

- Erstens
- Zweitens
- Drittens


1. Listenpunkt
1. Listenpunkt
1. Listenpunkt

1.1 Erste Anweisung

In [1]:
print("Hello World!")

Hello World!

1.2 Kommentare

In [5]:
# Das ist ein Kommentar
'''
Mehrzeiliger Kommentar,
der sich über mehrere
Zeilen erstreckt und
nicht endet ...
'''
print("something")

something

1.3 einfache Datentypen

In [74]:
# Variable und Wertezuweisung
name = "Lovelace"
print(name)

Lovelace

In [7]:
# String - Zeichenkette
first_name = "Ada"

In [9]:
print(first_name, name)

Ada Lovelace

In [10]:
first_name

'Ada'

In [12]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [13]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [14]:
# Bool
knows_math = True
print(knows_math)

True

In [15]:
likes_slacking = False
print(likes_slacking)

False

In [18]:
type(name)

str

In [19]:
type(age)

int

In [20]:
type(size)

float

In [21]:
type(knows_math)

bool

In [23]:
str(age)

'73'

In [24]:
age

73

In [25]:
age_str = str(age)
type(age_str)

str

1.4 Operatoren

In [27]:
1+2-3*4/5

0.6000000000000001

In [28]:
age*100

7300

In [29]:
age_str * 100

'73737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373'

In [30]:
first_name + " " + name

'Ada Lovelace'

In [32]:
name + str(age)

'Lovelace73'

In [34]:
size / age

0.023456164383561642

1.5 Funktionen und Methoden

In [36]:
print(name)
len(name)

Lovelace

8

In [39]:
name.upper()

'LOVELACE'

In [44]:
name_upper_case = name.upper()

In [47]:
name.count("l")

1

In [48]:
name.replace("lace", " is everywhere")

'Love is everywhere'

1.6 Listen und Dictionaries

In [50]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [53]:
names[-2]

'Curie'

In [54]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [59]:
names[3:4]

['Hawking']

In [60]:
names[:2]

['Lovelace', 'Darwin']

In [61]:
names[2:]

['Curie', 'Hawking']

In [62]:
# Dictionaries
authors_and_birth_years = {"Lovelace" : 1882,
                           "Darwin"   : 1809,
                           "Noether"  : 1882,
                           "Hawking"  : 1942}

In [66]:
authors_and_birth_years["Lovelace"]

1882

In [67]:
type(authors_and_birth_years)

dict

2 for-Schleifen

In [76]:
for last_name in names:
    print(last_name + " did awesome stuff.")
print("-" * 30)

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.
------------------------------

In [77]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

In [85]:
for author in authors_and_birth_years.keys():
    print(author + " was born in " + str(authors_and_birth_years[author]))

Lovelace was born in 1882
Darwin was born in 1809
Noether was born in 1882
Hawking was born in 1942

In [90]:
for author, year in authors_and_birth_years.items():
    if author != "Lovelace":
        print(author + " was born in " + str(year) + ".")
    else:
        print(author + " was not born in " + str(year) + ".")

Lovelace was not born in 1882.
Darwin was born in 1809.
Noether was born in 1882.
Hawking was born in 1942.

2.1 Bedingte Anweisungen (Conditionals)

In [91]:
temp = 20
if temp > 15:
    print("It’s warm!")

It’s warm!

In [92]:
20 > 15

True

In [103]:
temp = 26
if temp > 25:
    print("It’s hot!")
elif temp > 15:
    print("It’s warm!")
elif temp < 1:
    print("It’s freezing!")
else:
    print("It’s cold!")

It’s hot!

In [104]:
if 25 < temp < 30:
    print("It’s warm!")

It’s warm!